<launch>

<arg name="world_name" default="$(find surveillance_system)/worlds/surveillance_room.world"/>

<include file="$(find gazebo_ros)/launch/empty_world.launch">
  <arg name="use_sim_time" value="true"/>
  <arg name="debug" value="false"/>
  <arg name="world_name" value="$(arg world_name)"/>
</include>

</launch>
